body {
    font-family: Microsoft Yahei !important;
}

mark {
    max-width: 70%;
    width: auto;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(233, 253, 240);
    color: black;
    padding: 0.4rem;
    display: block;
    font-style: italic;
}

.footnote-item {
    font-style: italic;
    font-size: 0.9rem;
}

.twoColumn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >img, >p {
        width: 48%;
    }
}